# config.ini
[app]
project_name = My Custom FastAPI Project
api_version = /api/v1

[mysql]
host = 127.0.0.1
port = 3306
user = root
password =
database = fastapi_template

[redis]
host = localhost
port = 6379
password = root

[security]
secret_key = your-custom-secret-key
access_token_expire_minutes = 60